<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Piskel App</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="body">
  <header class="header">
    <a href="#" class="header--headline-of-page white-color">PISKEL APP</a>
    <p class="header-headline--new white-color">New Piskel</p>
    <div class="header-block--buttons">
      <button class="header-buttons header-button--create-sprite">Create Sprite</button>
      <button class="header-buttons header-button--sign-in" id="sign-in">Sign in</button>
    </div>
  </header>
  <main class="main">
    <div class="main-div-of-tools">
      <div class="main-tools--buttons-pen-size">
        <button class="main-tools-pen-size main-tools-pen-size--left">
          <p></p>
        </button>
        <button class="main-tools-pen-size main-tools-pen-size--middle-left">
          <p></p>
        </button>
        <button class="main-tools-pen-size main-tools-pen-size--middle-right">
          <p></p>
        </button>
        <button class="main-tools-pen-size main-tools-pen-size--right">
          <p></p>
        </button>
      </div>
      <div class="main-tools--tools-which-change-canvas" id="div-with-tools">
        <button class="tools-which-change-canvas tools-which-change-canvas--pen active">
            <i class="white-color fas fa-pencil-alt"></i>
            <span class="tools-tooltips">Pen tool <span class="yellow-color">(P)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--mirror-pen no-active">
          <i class="white-color fas fa-grip-lines-vertical"></i>
          <span class="tools-tooltips">Mirror pen <span class="yellow-color">(V)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--paint-bucket-tool no-active">
            <i class="white-color fas fa-fill-drip"></i>
            <span class="tools-tooltips">Paint bucket tool <span class="yellow-color">(B)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--paint-all-pixels-of-the-same-color no-active">
            <i class="white-color fab fa-500px"></i>
            <span class="tools-tooltips">Paint all pixels with same color <span class="yellow-color">(A)</span></span>
            <i class="white-color fas fa-fill-drip"></i>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--eraser-tool no-active">
            <i class="white-color fas fa-eraser"></i>
            <span class="tools-tooltips">Eraser tool <span class="yellow-color">(E)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--stroke-tool no-active">
            <i class="white-color fas fa-slash"></i>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--rectangle-tool no-active">
            <i class="white-color far fa-square"></i>
            <span class="tools-tooltips">Rectangle tool <span class="yellow-color">(R)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--circle-tool no-active">
            <i class="white-color far fa-circle"></i>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--move-tool no-active">
            <i class="white-color fas fa-hand-paper"></i>
            <span class="tools-tooltips">Move tool <span class="yellow-color">(M)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--shape-selection no-active">
            <i class="white-color fas fa-magic"></i>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--dithering-tool no-active">
          <i class="white-color fas fa-chess-board"></i>
          <span class="tools-tooltips">Dithering tool <span class="yellow-color">(T)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--rotate no-active">
          <i class="white-color fas fa-redo"></i>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--lighten no-active">
          <i class="white-color fas fa-adjust lighten"></i>
          <span class="tools-tooltips">Lighten <span class="yellow-color">(U)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--darken no-active">
          <i class="white-color fas fa-adjust darken"></i>
          <span class="tools-tooltips">Darken <span class="yellow-color">(I)</span></span>
        </button>
        <button class="tools-which-change-canvas tools-which-change-canvas--color-picker no-active">
          <i class="white-color fas fa-eye-dropper"></i>
          <span class="tools-tooltips">Color picker tool <span class="yellow-color">(O)</span></span>
        </button>
      </div>
      <div class="main-tools--choose-color">
        <input type="color" name="" class="tools--choose-color tools-choose-color--top" id="tools-choose-color--top">
        <input type="color" name="" class="tools--choose-color tools-choose-color--bottom" id="tools-choose-color--bottom" value="#e66465">
      </div>
      <div class="main-tools--keyboard">
          <i class="fas fa-keyboard main-tools-keyboard--i" id="keyboard"></i>
          <!-- window with shortcuts -->
        <div class="window-shortcuts display-none">
          <div class="headline-and-close-keyboard-shortcuts">
            <h1 class="shortcuts-tools-headline">Keyboard shortcuts</h1>
            <p class="close-shortcut-window">X</p>
          </div>
          <div class="shortcuts">
            <div class="shortcuts-for-tools">
              <h2 class="white-color headline-for-tool-shortcuts">Tool shortcuts</h2>
              <ul class="list-of-tools-shortcuts">
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-pencil-alt"></span>
                  <span class="shortcuts-letter">P</span>
                  <span class="shortcuts-name">Pen tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-grip-lines-vertical"></span>
                  <span class="shortcuts-letter">V</span>
                  <span class="shortcuts-name">Pen mirror tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-fill-drip"></span>
                  <span class="shortcuts-letter">B</span>
                  <span class="shortcuts-name">Paint bucket tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon keyboard-shortcuts--all-pixels">
                    <i class="white-color fab fa-500px"></i>
                    <i class=" white-color fas fa-fill-drip"></i>
                  </span>
                  <span class="shortcuts-letter">A</span>
                  <span class="shortcuts-name">Paint all pixels with same color</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-eraser"></span>
                  <span class="shortcuts-letter">E</span>
                  <span class="shortcuts-name">Eraser</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-slash"></span>
                  <span class="shortcuts-letter">L</span>
                  <span class="shortcuts-name">Stroke tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color far fa-square"></span>
                  <span class="shortcuts-letter">R</span>
                  <span class="shortcuts-name">Rectangle tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color far fa-circle"></span>
                  <span class="shortcuts-letter">C</span>
                  <span class="shortcuts-name">Circle tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-hand-paper"></span>
                  <span class="shortcuts-letter">M</span>
                  <span class="shortcuts-name">Move tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-magic"></span>
                  <span class="shortcuts-letter">Z</span>
                  <span class="shortcuts-name">Shape selection</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-chess-board"></span>
                  <span class="shortcuts-letter">T</span>
                  <span class="shortcuts-name">Dithering tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-redo"></span>
                  <span class="shortcuts-letter">D</span>
                  <span class="shortcuts-name">Rotate tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-adjust lighten"></span>
                  <span class="shortcuts-letter">U</span>
                  <span class="shortcuts-name">Lighten</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-adjust darken"></span>
                  <span class="shortcuts-letter">I</span>
                  <span class="shortcuts-name">Darken</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="keyboard-shortcuts-icon white-color fas fa-eye-dropper"></span>
                  <span class="shortcuts-letter">O</span>
                  <span class="shortcuts-name">Color picker tool</span>
                </li>
                <li class="list-of-tools-shotcut--element">
                  <span class="shortcuts-letter shortcuts-letter-ctrl">CTRL+Z</span>
                  <span class="shortcuts-name">Return previos frame image</span>
                </li>
              </ul>
            </div>
            <div class="shortcuts-for-frames">
              <h2 class="headline-for-frame-shortcuts white-color">Frame shortcuts</h2>
              <ul class="list-of-frames-shortcuts">
                <li class="list-of-frames-shortcuts--element">
                  <span class="frame-shortcuts white-color keyboard-shortcuts-icon fas fa-trash-alt"></span>
                  <span class="shortcuts-letter">DEL</span>
                  <span class="shortcuts-name">Delete frame</span>
                </li>
                <li class="list-of-frames-shortcuts--element">
                  <span class="frame-shortcuts white-color keyboard-shortcuts-icon fas fa-copy"></span>
                  <span class="shortcuts-letter">]</span>
                  <span class="shortcuts-name">Copy frame</span>
                </li>
                <li class="list-of-frames-shortcuts--element">
                  <span class="frame-shortcuts white-color keyboard-shortcuts-icon fas fa-plus"></span>
                  <span class="shortcuts-letter">N</span>
                  <span class="shortcuts-name">Add new frame</span>
                </li>
              </ul>
              <h2 class="white-color shortcuts-for-open-it">Other shortcuts</h2>
              <ul>
                <li>
                  <div class="list-of-frames-shortcuts--element other-shortcuts">
                    <span class="keyboard-shortcuts-icon other-shortcuts--keyboard frame-shortcuts fas fa-keyboard white-color"></span>
                    <span class="other-shortcuts--letter shortcuts-letter">/</span>
                    <span class="shortcuts-name">Open/close window with shortcuts</span>
                  </div>
                </li>
                <li>
                    <div class="list-of-frames-shortcuts--element other-shortcuts">
                      <span class="other-shortcuts--letter shortcuts-letter">'</span>
                      <span class="shortcuts-name restore-shortcuts-name">Restore shortcuts</span>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
          <div class="bottom-of-window-with-shortcuts">
              <p class="bottom-shortcuts--text">Customize shortcuts?</p>
              <p class="customize-shortcuts--tooltip">Click on the shortcuts to change a key. When the shortcut blinks, press the key on your keyboard to assign it. "Restore shortcuts" button to make default shortcuts.</p>
              <button class="bottom-shortcuts--restore" id="restore-shortcuts">Restore shortcuts to default</button>
            </div>
        </div>
      </div>
    </div>
    <div class="main-div-of-frames">
        <div class="block-frames-inner">
            <ul class="ul-of-frames" id="list-of-frames">
                <li class="li-frame yellow-border" id="frame" draggable="true">
                    <div class="text-center frame-top-left-item yellow-frame-items" id="frame-top-left-item">
                      <p class="number-of-frame">1</p>
                    </div>
                    <div class="text-center frame-top-right-item yellow-frame-items" id="frame-top-right-item">
                      <i class="fas fa-trash-alt"></i>
                      <span class="tool-tip-frame">Delete frame<span class="yellow-color">(del)</span></span>
                    </div>
                    <div class="text-center frame-bottom-left-item yellow-frame-items" id="frame-bottom-left-item">
                      <i class="fas fa-arrows-alt"></i>
                    </div>
                    <div class="text-center frame-bottom-right-item yellow-frame-items" id="frame-bottom-right-item">
                      <i class="fas fa-copy"></i>
                      <span class="tool-tip-frame">Copy frame<span class="yellow-color">(])</span></span>
                    </div>
                    <p class="canvas-frame" id="canvas-frame" width="50" height="46" draggable="true" ondragstart="drag(event)"></p>
                </li>
            </ul>
            <button class="button-add-new-frame" id="button-add-new-frame">
                <i class="fas fa-plus white-color"></i>
                <p class="button-frame-text white-color">Add new frame</p>
            </button>
        </div>
      <div class="main-frames--line">
        <hr class="main-frames-line">
      </div>
    </div>
    <div class="main-div-of-canvas">
      <canvas class="main-div--canvas" id="main-div--canvas" width="608" height="608"></canvas>
    </div>
    <div class="main-div-of-preview-and-settings">
      <div class="main-preview--left-column">
        <div class="main-preview-left-canvas-with-fps">
          <div class="canvas-preview" id="canvas-preview"></div>
          <div class="preview--fps">
              <p class="preview-fps--number-fps">0 fps</p>
              <input id="preview-fps--choose-fps" value="0" type="range" name="" id="choose-fps" min="0" max="24">

          </div>
        </div>
        <form action="" class="main-div-under-preview--form" onsubmit="return false">
            <fieldset>
              <legend>Size of canvas:</legend>
              <div>
                <input type="radio" id="contactChoice1" class="radio-buttons-of-canvas-size"
                 name="size" value="32" checked>
                <label for="contactChoice1">32</label>

                <input type="radio" id="contactChoice2" class="radio-buttons-of-canvas-size"
                 name="size" value="64">
                <label for="contactChoice2">64</label>

                <input type="radio" id="contactChoice3" class="radio-buttons-of-canvas-size"
                 name="size" value="128">
                <label for="contactChoice3">128</label>
              </div>
              <div>
                <button type="submit" id="submit-size-of-canvas">Submit</button>
              </div>
            </fieldset>
        </form>
        <div class="show-coodinates">
          <p class="under-preview-coordinates">Coordinates on canvas</p>
          <p class="under-preview-coordinates" id="place-for-show-coordinates"></p>
        </div>
      </div>
      <div class="main-preview--right-column">
        <button class="main-preview-right--buttons main-preview-right--prefences">
          <i class="white-color fas fa-cog"></i>
        </button>
        <button class="main-preview-right--buttons main-preview-right--resize">
          <i class="white-color fas fa-external-link-square-alt"></i>
        </button>
        <button class="main-preview-right--buttons main-preview-right--save">
          <i class="white-color far fa-save"></i>
        </button>
        <button class="main-preview-right--buttons main-preview-right--export">
          <i class="white-color far fa-file-image"></i>
        </button>
        <button class="main-preview-right--buttons main-preview-right--import">
          <i class="white-color fas fa-folder-open"></i>
        </button>
      </div>
    </div>
  </main>
</body>
<script src="../app.js" type="module"></script>
</html>
